<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <appSettings>
    <!--<add key="updateUrl" value="http://www.geelan.cn/download/update.xml"/>
    <add key="serviceUrl" value="http://www.geelan.cn/manager/api/ws/API"/>
    <add key="memberUrl" value="http://m.geelan.cn/http/index.php"/>-->
    <add key="updateUrl" value="http://esales/download/update.xml"/>
    <add key="serviceUrl" value="http://esales/manager/api/ws/API"/>
    <add key="memberUrl" value="http://esales/mall8.1/appapi/member.php"/>   
    <add key="portType" value="并口"/>
    <add key="portName" value="LPT1"/>
    <add key="posName" value="POS-58"/>
    <add key="posWidth" value="32" />
    <add key="appName" value="吉澜 E-POS"/>
    <add key="isDouble" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
